.btn {
  border: none;
  background: none;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: translateY(2px);
}

.delete_btn {
  display: none;
  width: 25px;
  height: 25px;
}

.item {
  padding: 20px 10px 10px 10px;
}

.item:first-child {
  border-top: 1px solid #e7e7e7;
}

.item:nth-child(even) {
  background-color: var(--light-gray);
}

.item__date {
  margin-bottom: 0.5rem;
}

.item__details {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.description {
  width: 55%;
  /* padding: 0.5rem 0.5rem 0.5rem 0; */
}

.income__items .value {
  color: var(--malachite);
  transition: all 0.2s;
}

.value_btn_container {
  display: flex;
  align-items: center;
}

.value_btn_container:hover .value {
  transform: translateX(-10px);
  transition: all 0.3s ease-out;
}

.value_btn_container:hover .delete_btn {
  display: inline-block;
  position: relative;
  z-index: 1;
  padding-left: 5px;
  margin: -5px;
}